<% if logged_in? %>
	<div class="row user-info">
	  <aside class="col-md-12">
	    <section>
	      <h1 class="col-md-4 col-sm-offset-5">Hello <%= @user.name %></h1>
	      <h3 class="col-md-6 col-sm-offset-3">You logged in with the email: <%= @user.email %></h3>
	    </section>
	  </aside>
	</div>
<% else %>
	<div class="row user-info">
	  <aside class="col-md-12">
	    <section>
	      <h1 class="col-md-6 col-md-offset-4">Please Login to See this Info</h1>
	      <a href="/login"><button class="col-md-2 col-md-offset-5 btn btn-default btn-md">Login</button>
	    </section>
	  </aside>
	</div>
<% end %>