<header class="row">
  <h1 class="text-center col-md-6 col-md-offset-3">Find Doc Items</h1>
</header>
<section class="row" ng-controller="DocsController">
  <form>
    <div class="form-group col-md-6 col-md-offset-3">
      <label for="keywords" class="sr-only">Keywords</label>
      <input ng-model="keywords" name="keywords" type="text" autofocus class="form-control" placeholder="Doc keyword, e.g. Email">
    </div>
    <div class="form-group col-md-6 col-md-offset-3 text-center">
      <button ng-click="search(keywords)" class="btn btn-primary btn-lg">Search</button>
      <button ng-click="newDoc()" class="btn btn-info btn-lg">New Doc</button>
    </div>
  </form>
</section>
<hr>
<section class="row" ng-controller="ItemCtrl">
  <h1 class="text-center h2">Items</h1>
  <ul class="list-unstyled">
    <li ng-repeat="items in item">
      <section class="well col-md-6 col-md-offset-3">
        <h1 class="h3 col-md-6 text-right" style="margin-top: 0"><a href ng-click="view(items.id)" >{{items.title}}</a></h1>
        <div class="col-md-6">
          <button ng-click="edit(items.id)" class="btn btn-info">Edit</button>
        </div>
      </section>
    </li>
  </ul>
</section>
<section class="row" ng-controller="DocsController">
  <h1 class="text-center h2">Results</h1>
  <ul class="list-unstyled">
    <li ng-repeat="doc in docs">
      <section class="well col-md-6 col-md-offset-3">
        <h1 class="h3 col-md-6 text-right" style="margin-top: 0"><a href ng-click="view(doc.id)" >{{doc.header}}</a></h1>
        <div class="col-md-6">
          <button ng-click="edit(doc.id)" class="btn btn-info">Edit</button>
        </div>
      </section>
    </li>
  </ul>
</section>