<div class="content">
  <div class="row">
    <div class="container-fluid">
      <div id="wrapper">
        <section class="col-sm-3 col-md-2" id="sidebar-wrapper" ng-controller="ItemCtrl">
          <ul class="list-unstyled sidebar-nav">
            <li ng-repeat="items in item.docs | orderBy:'parent'">
              <h1 class="h4 col-md-2 text-center parent-item">{{items.parent}}</a></h1>
              <ul class="list-unstyled">
                <li ng-repeat="detail in items.details | orderBy:'title'">
                  <h1 class="h5 col-md-12 col-md-offset-2 text-left" style="margin-top: 0"><a href ng-click="view(detail.id)" >{{detail.title}}</a></h1>
                </li>
              </ul>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>
  <div class="edit-delete-buttons">
    <button ng-show="token == 1" class="btn btn-primary btn-info" ng-click="edit()">Edit</button>
    <button ng-show="token == 1" class="btn btn-danger btn-info" ng-click="delete()">Delete</button>
  </div>
  <div class="row">
    <div class="container-fluid">
      <section class="col-md-10" id="doc-info">
        <aside class="flash row">
          <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3 col-sm-12">
            {{flash.message}}
          </article>
        </aside>
        <div class="col-md-5 back-button">
          <a href="/"><button class="btn btn-default">
            &larr; Back
          </button></a>
        </div>
        <article class="col-md-8 col-md-offset-2">
          <header id="info-head"><h2>{{doc.title}}</h2></header>
          <p id="info-text">
            <span ng-bind-html="renderHtml(doc.info)"></span>
          </p>
        </article>
      </section>
    </div>
  </div>
</div>
