.back-button {
  margin-top: -5%;
  display: relative;
  float: left;
  position: fixed;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

.content {
  position: relative;
}

.doc-buttons {
  margin-top: 1%;
  margin-left: 10%;
}

#doc-info {
  margin-top: 10%;
  position: relative;
  float: right;
}

.edit-delete-buttons {
  position: fixed;
  bottom: 0px;
  margin-left: 2.5%;
  z-index: 1200;
}

#error_explanation {
  margin-top: 80px;
  margin-bottom: -70px;
  color: red;
}

#error_explanation ul {
    color: red;
    margin: 0 0 30px 0;
}

.field_with_errors {
  color: red;
}

.flash-message {
  margin-top: 80px;
  overflow-x: hidden;
}

.form-horizontal {
  margin-top: 80px;
  overflow-x: hidden;
}

#form-info {
  height: 200px;
}

.form-items {
  margin-top: 20px;
  overflow-x: hidden; 
}

#info-head {
  margin-top: -8%;
  margin-bottom: 3%;
  text-align: center;
  margin-left: -16px;
}

.info-search {
  margin-left: -7px;
  padding: 5px;
  margin-top: 5%;
  border: solid 2px #eee;
  border-radius: 10px;
}

.info-search:hover {
  background-color: #428bca;
  color: white;
}

.info-search:hover h2 {
  color:white;
}

.info-search h2 {
  color: #428bca;
  margin-top: 1.5%;
  text-align: center;
  margin-left: -4px;
}

#info-text {
  text-align: justify;
  margin-left: -15px;
  margin-bottom: 15px;
}

.inline-image {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  margin: 0 auto;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.login-btn {
  margin-top: 7px;
  background-color: white;
  color: #47537F;
  border: 2px solid #47537F;
}

.login-btn:hover {
  background-color: #E6E6E6;
  border-color: #E6E6E6;
}

.login-header {
  color: black;
  margin-top: 80px;
  margin-bottom: -40px;
}

.navbar-fixed-top {
  background: #47537F;
  z-index: 1000;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 0px !important;
}

.navbar-fixed-bottom button {
  height: 20px;
  margin-bottom: 40px;
}

.navbar-brand {
  color: white !important;
}

.navbar-text {
    top: -4.5px;
    position: absolute;
    width: 25%;
    left: 36.5%;
    text-align: center;
    color: white !important;
}

.new-btn {
  margin-top: 7px;
  background-color: white;
  color: #47537F;
}

.new-doc {
  position: fixed;
  bottom: 0px;
  margin-left: 6.5%;
}

.new-user-header {
  color: black;
  margin-top: 80px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

.parent-item {
  color: #2F575D;
  margin-top: 20px;
  margin-bottom: 15px;
}

.search-area {
  padding: 20px; 
  margin-bottom: 5px;
  color: black !important;
}

.search-btn {
  margin-top: 15px;
  left: 1.25px;
}

.search-field {
  margin-top: 30%;
  height: 20px;
  margin-bottom: 10%;
  margin-left: -8px;
}

/* Sidebar Styles */

.sidebar-nav {
    margin-top: 30px;
    position: absolute;
    top: 0px;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.sidebar-nav li {
    text-indent: 30%;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #5F5E66;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #A79EA0;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#sidebar-wrapper {
    top: 50px;
    z-index: 999;
    border-right: 1px solid #eee;
    background: #F4F4F4;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden; 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-right: 0px;
}

.user-form {
  margin-top: 10px;
  overflow-x: hidden;
}

.user-form-item {
  margin-bottom: 20px;
}

.user-info h1, h3 {
  left: -1.8%;
  margin-top: 80px;
  color: #47537F;
}

.user-info button {
  margin-top: 10px;
  left: 1%;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}